<web-app>
  <servlet>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>ThreadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/ThreadServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CA</servlet-name>
    <servlet-class>CreateAccountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CA</servlet-name>
    <url-pattern>/ca</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>ResServlet</servlet-name>
    <servlet-class>ResServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ResServlet</servlet-name>
    <url-pattern>/ResServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>res</servlet-name>
  	<jsp-file>/res.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>res</servlet-name>
  	<url-pattern>/res</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>lg</servlet-name>
  	<jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>lg</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>lgs</servlet-name>
  	<servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>lgs</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>