<web-app>
		<!--*******CreateAccount*******-->
	<servlet>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>CreateAccountServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
		<!--*******Login******-->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
			<!--******Res*******-->
	<servlet>
		<servlet-name>Res</servlet-name>
		<servlet-class>ResServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Res</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
			<!--*******Thread******-->
	<servlet>
		<servlet-name>Thread</servlet-name>
		<servlet-class>ThreadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Thread</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
</web-app>